Dockerfile-dev
coverage.out
.idea

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# to avoid accidentally committing credentials
envvars.bash

# to avoid accidentally committing the binary
coco-neo4j-backup
